<ion-header>
  <ion-toolbar class="colorheader">
    <ion-title #titulo class="ion-text ion-text-left font-size-16 header-titulo">
      <img src="../../../assets/img/Logo_DuocUC.png" alt="Logo" class="header-logo">
      <span class="header-span">Sistema de Asistencia DUOC</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <div class="book">
    <ion-card>
      <ion-card-header>
        <ion-card-title #itemCardTitulo>Datos del Usuario</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          
          <div *ngIf="usuario">

            <ion-item #itemCuenta>
              <ion-input labelPlacement="floating" label="Cuenta" [value]="usuario.cuenta" readonly></ion-input>
            </ion-item>
  
            <ion-item #itemCorreo>
              <ion-input labelPlacement="floating" label="Correo" [value]="usuario.correo" readonly></ion-input>
            </ion-item>
  
            <ion-item #itemNombre>
              <ion-input labelPlacement="floating" label="Nombre" [value]="usuario.nombre" readonly></ion-input>
            </ion-item>
  
            <ion-item #itemApellido>
              <ion-input labelPlacement="floating" label="Apellido" [value]="usuario.apellido" readonly></ion-input>
            </ion-item>
  
            <ion-item #itemNivelEducacional>
              <ion-input labelPlacement="floating" label="Nivel Educacional" [value]="usuario.nivelEducacional.getTextoNivelEducacional()" readonly></ion-input>
            </ion-item>
            
            <ion-item #itemFechaNacimiento>
              <ion-input labelPlacement="floating" label="Fecha de Nacimiento" [value]="usuario.getFechaNacimiento()" readonly></ion-input>
            </ion-item>

          </div>

          <div *ngIf="!usuario">

            <ion-item #itemCuenta>
              <ion-input labelPlacement="floating" label="Cuenta" readonly></ion-input>
            </ion-item>
  
            <ion-item #itemCorreo>
              <ion-input labelPlacement="floating" label="Correo" readonly></ion-input>
            </ion-item>
  
            <ion-item #itemNombre>
              <ion-input labelPlacement="floating" label="Nombre" readonly></ion-input>
            </ion-item>
  
            <ion-item #itemApellido>
              <ion-input labelPlacement="floating" label="Apellido" readonly></ion-input>
            </ion-item>
  
            <ion-item #itemNivelEducacional>
              <ion-input labelPlacement="floating" label="Nivel Educacional" readonly></ion-input>
            </ion-item>
            
            <ion-item #itemFechaNacimiento>
              <ion-input labelPlacement="floating" label="Fecha de Nacimiento" readonly></ion-input>
            </ion-item>

          </div>

        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-buttons class="toolbar-buttons">

      <ion-segment-button class="toolbar-button" (click)="navegar('/inicio')">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-segment-button>

      <ion-segment-button class="toolbar-button" (click)="navegar('/miclase')">
        <ion-icon name="school-outline"></ion-icon>
        <ion-label>Mi clase</ion-label>
      </ion-segment-button>

      <ion-segment-button class="toolbar-button" (click)="navegar('/misdatos')">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Mis datos</ion-label>
      </ion-segment-button>

      <ion-segment-button class="toolbar-button" (click)="navegar('/login')">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-segment-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>
