ion-header {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
}

ion-toolbar {
  --background: #012C56 ;
}

.ion-button-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-titulo {
  display: flex; 
  justify-content: center; 
  align-items: center;
  line-height: 1;
}

.header-logo {
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.font-size-16 {
  font-size: 16px;
}

.book {
  width: 80%;
  height: 85%;
  perspective: 1000px;
  margin: 50px auto;
  position: relative;
  overflow-y: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
}

ion-content {
  --background: #F1F1F1;
}

ion-card {
  border: 2px solid grey;
  --background: #FFFFFF;
  border-radius: 1.25rem;
  box-shadow: 0 4px 4px #00000040;
}

ion-card-header {
  --background: #012C56;
  margin-bottom: 20px;
}

.intruccion {
  color: black;
  font-size: 16px;
}

.list-md {
  margin-top: 20px;
  background: white;
}

ion-item {
  --background: #FFFFFF;
  margin-bottom: 50px;
  color: black;
}

ion-button {
  --background: #007bff;
  border-radius: 1.25rem;
}


.boton-iniciar-sesion {
  margin: auto;
  margin-top: 50px;
  width: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}