<ion-toolbar class="colorheader">
  <ion-title #titulo class="ion-text ion-text-left font-size-16 header-titulo">
    <img src="../../../assets/img/Logo_DuocUC.png" alt="Logo" class="header-logo">
    <span class="header-span">Sistema de Asistencia DUOC</span>
  </ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true" class="fondo-imagen">
  <div class="book">
    <ion-card class="small-card">
      <ion-card-header>
        <ion-card-title style="color: #28a745;">¡Correcto!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <img 
          alt="Imagen de éxito" 
          src="../../../assets/img/correcto.jpg" 
          height="150px" 
          width="150px" 
        />
        <p *ngIf="usuario">¡TU CONTRASEÑA ES!: <strong class="password-text">{{ usuario.password }}</strong></p>
        <p *ngIf="!usuario">No se encontró información del usuario.</p>
        <ion-grid>
          <ion-row class="ion-button-center">
            <ion-col size="8">
              <ion-button expand="full" (click)="redirigirAlLogin()">Iniciar Sesión</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
